<%= form_with(model: actor, local: true) do |form| %>
  <% if actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
      <% actor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :birthDate %>
    <%= form.date_select :birthDate, {
          order: [:day, :month, :year],
          prompt: { day: 'Select day', month: 'Select month', year: 'Select year' },
          start_year: Date.today.year - 18,
          end_year: Date.today.year - 100
      }, {required: true}
    %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
