<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, {
        order: [:day, :month, :year],
        prompt: { day: 'Select day', month: 'Select month', year: 'Select year' },
        start_year: Date.today.year,
        end_year: Date.today.year - 70
    }, {required: true}
    %>
  </div>

  <div class="field">
    <%= form.label :duration_time %>
    <%= form.number_field :duration_time %>
  </div>

  <div class="field">
    <%= form.label :director_id %>
    <%= form.collection_select :director_id, Director.order(:name),:id,:name_with_initial, include_blank: false, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select :country_id, Country.order(:name),:id,:name, include_blank: false, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
